.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #25215f;
  color: #414141;
  font-size: 17px;
  line-height: 1.5;
  font-family: Lato, sans-serif;
  padding: 20px;
}

a {
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
}

h1,
h2,
h3 {
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  text-align: center;
  margin-bottom: 50px;
}
.header__brand {
  width: 80px;
}

.output {
  margin-bottom: 50px;
}

.form {
  background-color: #ffffff;
  border-radius: 2px;
  padding: 30px;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.35);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.35);
  margin-bottom: 50px;
}
.form__group {
  margin-bottom: 15px;
  margin-right: 30px;
}
.form__description {
  margin: 0;
  font-style: italic;
  font-size: 75%;
  color: rgba(#000000, 0.35);
}

.form__label {
  font-weight: bold;
  font-size: 15px;
}

.input {
  background-color: #eeeeee;
  border: 1px solid #bbbbbb;
  -webkit-box-shadow: inset 0 0 3px #cccccc;
  box-shadow: inset 0 0 3px #cccccc;
  border-radius: 2px;
  width: 100%;
  display: block;
  padding: 8px 13px;
}

textarea.input {
  min-height: 140px;
}

::-webkit-input-placeholder {
  color: #cccccc;
}

:-ms-input-placeholder {
  color: #cccccc;
}

::-ms-input-placeholder {
  color: #cccccc;
}

::placeholder {
  color: #cccccc;
}

*:focus {
  outline: 2px solid rgba(0, 0, 0, 0.25);
}

.ratings {
  margin-bottom: 50px;
}
.ratings__heading {
  color: #ffffff;
  margin-bottom: 10px;
}

.ratings--bad .ratings__heading {
  color: #e2401b;
}

.ratings--ok .ratings__heading {
  color: #fdb813;
}

.ratings--good .ratings__heading {
  color: #0db14b;
}

.rating {
  padding: 10px 15px 10px 23px;
  margin-bottom: 10px;
  border-radius: 2px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
  position: relative;
}
.rating__score {
  text-transform: uppercase;
  display: block;
  font-size: 70%;
  margin-bottom: 5px;
}

.rating::before {
  content: "";
  display: block;
  width: 6px;
  height: calc(100% - 12px);
  background-color: #dddddd;
  position: absolute;
  top: 6px;
  left: 6px;
  border-radius: 3px;
}

.rating--bad .rating__score {
  color: #e2401b;
}
.rating--bad::before {
  background-color: #ef404a;
}

.rating--ok .rating__score {
  color: #fdb813;
}
.rating--ok::before {
  background-color: #fdb813;
}

.rating--good .rating__score {
  color: #0db14b;
}
.rating--good::before {
  background-color: #0db14b;
}

.footer {
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 50px;
}
.footer a {
  color: inherit;
}

@media screen and (min-width: 767px) {
  body {
    margin: 50px;
  }
  .wrapper {
    display: -ms-flexbox;
    display: flex;
  }
  .form,
  .output {
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
  }
  .output {
    margin-left: 15px;
  }
  .form {
    margin-right: 20px;
  }
}
